body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* 丸っこいフォントに変更 */
}

#inputContainer {
    margin: 20px;
}

#noteInput {
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.note {
    background-color: #F0DD8F;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: move;
    resize: both;
    overflow: auto;
    position: absolute;
}

.note-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(20px + 1vw); /* 付箋の大きさに合わせて文字サイズを変更 */
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #F0DD8F;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
